<html>

<head>
    <meta charset="utf-8">

    <title>My page title</title>

    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <div class="heading">
        <div class="card"
            style="width: 100rem; left: 10rem;right: 10rem; align-items: center; background: cadetblue; font-style: oblique;">
            <div class="card-body" style="text-align:center;">
                <h5 class="card-title" style="text-align:center">Assignment 1</h5>
                <div>
                    <p class="card-text" style="text-align:center">Name: Sainath Indupuri UTA ID : 1001856992</p>
                </div>
            </div>
        </div>
    </div>
</head>

<body>
    <div class="ShowAllTable" style="width: 100rem; margin-left: 5rem;margin-right: 5rem; align-items: center;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Class</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Comments</th>
                </tr>
            </thead>
            {%if data != None%}
            {% for item in data %}
            <tbody>
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    {% if item[2] != '' %}
                    <td><img src="{{link}}{{item[2]}}" alt="" border=3 height=100 width=100></img></td>
                    {%else%} <label> No image found</label> {%endif%}

                    <td>{{item[3]}}</td>

                </tr>

            </tbody>
            {% endfor %}

            {%else%} <label> There is no such entry in the database</label>
            {%endif%}

        </table>
    </div>

    <footer>

    </footer>

</body>

</html>